#Toggle
    position: relative
    z-index: 9999
    -webkit-user-select: none
    margin-right: 5px
    cursor: pointer
    transition: 0.8s all ease
#Toggle span 
    display: block
    width: 33px
    height: 5px
    margin-bottom: 5px
    position: relative
    background: white
    border-radius: 3px
    z-index: 9999
    transition: 0.8s all ease
    
    
#navbar
    transition: 0.8s all ease
    z-index: 10000

#logo-bitlab 
    transition: 0.8s all ease

