#skills
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/img_moreskills.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat