@import "font"
@import "navbar"

.container
    width: 100%
    margin-right: auto
    margin-left: auto
    padding-right: 1rem
    padding-left: 1rem

#welcome 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bitlab-bg.png)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    .icon 
        @media screen and(max-width: 768px) 
            max-width: 350px
            width: 100%
            .icon-2 
                max-width: 250px
                width: 100%
            
            .icon-3 
                max-width: 500px
                width: 100%


        @media screen and(max-width: 500px) 
            max-width: 250px
            width: 100%
            .icon-2 
                max-width: 200px
                width: 100%
        

.button-find
    border-radius: 4.2px

.int 
    overflow: hidden
    .int-cont 
        @media screen and(max-width: 1200px) 
            flex-direction: column-reverse
            position: relative
            margin-left: 0 !important
    
        @media screen and(max-width: 768px) 
            margin-bottom: 0px
    
        .grid 
            max-width: 800px
    

.img-int
    z-index: 100
    display: inline-table
    @media screen and(max-width: 1200px) 
        // bottom: -300px
        display: none
        
    @media screen and(max-width: 768px) 
        display: none
    .img-cont 
        position: relative
        display: inline-block
        &:before 
            content: ''
            display: block
            position: absolute
            width: 40px
            height: 80%
            background-color: transparent
            border: 1px solid purple
            vertical-align: middle
            right: -30px
            margin: auto 0
            top: 0
            bottom: 0
            z-index: -1
        

.cont-int 
    padding-top: 200px
    padding-bottom: 200px
    @media screen and(min-width: 1570px) 
        justify-content: center
    @media screen and(max-width: 1570px) 
        justify-content: flex-end

    @media screen and(max-width: 1200px) 
        margin-left: 0
        width: 90%
        margin-left: auto

    @media screen and(max-width: 768px) 
        padding: 100px 15%
        width: 100%

    @media screen and(max-width: 500px) 
        padding: 100px 40px
        width: 100%

    .cont
        max-width: 800px
        //   @media screen and(min-width: 1570px) 
        //     justify-content: center
        //  
        //   @media screen and(max-width: 1570px) 
        //     justify-content: flex-end
        //  
        @media screen and(max-width: 1400px) 
            max-width: 700px

        @media screen and(max-width: 1320px) 
            max-width: 600px

        @media screen and(max-width: 1200px) 
            max-width: 100% !important
            margin-left: 0 !important
      


.card-int
    position: relative
    overflow: hidden
    min-height: 100px
    background-color: white
    cursor: pointer
    &:hover 
        .card-arrow 
            opacity: 1
            border: 1px solid #00d2e5
        .card-arrow 
            background-color: #00d2e5
        svg path 
            fill: #fff
        .card-body 
            background: #481ae7
            color: #ffffff
        
    
.card-int .card-body
    padding: 1.25rem 1rem



.bg-gray-int
    background-color: #ebebeb

        
.img-fit
    object-fit: cover
        
.bg-shape
    background-image: url(../images/shape-events.png)
    padding: 80px 0 140px
    background-repeat: no-repeat
    background-position: center
    @media screen and(max-width: 992px) 
      
    @media screen and(max-width: 768px) 
        background-size: 1000px
        background-position-y: 300px

    
    @media screen and(max-width: 500px) 
        background-size: 800px
        background-position-y: 200px

     
    
    
      
